{% extends 'home_member.html' %}

{% block content %}

        <div class="container">
            <div class="col-md-12">
                <form  action="" method="POST">
                {% csrf_token %}
                <h2>學校</h2>
                    <select  class="sel"  name="school" style="font-size: 25px;">
                        <option value="1">國立中央大學</option>
                        <option value="2">國立陽明交通大學</option>
                        <option value="3">國立清華大學</option>
                        <option value="4">國立政治大學</option>
                    </select>
                <br>
                <h2>用途</h2>
                    <select class="sel" name="usage" style="font-size: 25px;">
                        <option value="運動">運動</option>
                        <option value="會議">會議</option>
                    </select>
                <br>
                <h2>選擇日期</h2>
                    <input class="form-control me-2" type="date" id="date_info_s"  aria-label="Search" name="date" Required>
                <br>
                <h2>選擇時間</h2>
                <br>
                <div style='float: left; margin-right:25px;'>
                        <p style='margin-right:15px;'>開始時間</p>
                        <select class="sel" name="start" style="font-size: 20px;">
                            <option value="8">8:00</option>
                            <option value="9">9:00</option>
                            <option value="10">10:00</option>
                            <option value="11">11:00</option>
                            <option value="12">12:00</option>
                            <option value="13">13:00</option>
                            <option value="14">14:00</option>
                            <option value="15">15:00</option>
                            <option value="16">16:00</option>
                        </select>
                </div>
                <div>
                        <p style='margin-right:15px;'>結束時間</p>
                        <select class="sel" name="end" style="font-size: 20px;">
                            <option value="9">9:00</option>
                            <option value="10">10:00</option>
                            <option value="11">11:00</option>
                            <option value="12">12:00</option>
                            <option value="13">13:00</option>
                            <option value="14">14:00</option>
                            <option value="15">15:00</option>
                            <option value="16">16:00</option>
                            <option value="17">17:00</option>
                        </select>
                   
                </div>
                <br>
                <input class="btn btn-success" type="submit" value="搜尋" />
                {% comment %} <a class='btn' href='search_list.html' type="submit">Search</a> {% endcomment %}
                </form>
            </div>
        </div>
        <div class="container">

            {% for obj in condition_query_set %}
                {% ifchanged %}
                    <div class="row">
                        <div class="col" style="display:flex ;  margin-right : 50px;">
                                <div class="left" >
                                    <img src=/static/{{ obj.site_id.image }} height="300"  width="400">
                                </div>
                        </div>
                        <div class="col" style="display:flex ;  margin-right : 50px;">
                            <div class="right" >
                                <h1>{{obj.site_id.name}}</h1>
                                <h4>位置:{{obj.site_id.location}}</h4>
                                <h4>用途:{{obj.site_id.usage}}</h4>
                                <h4>價錢:{{obj.site_id.price}} /小時</h4>
                                <h4>地址:{{obj.site_id.address}}</h4>
                                <br>
                                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#durationSelect{{obj.site_id.id}}" aria-expanded="false" aria-controls="durationSelect{{obj.site_id.id}}">預約</button>
                            </div>
                        </div>
                    </div>
                {% endifchanged %}
                <div class="container" style="margin-top : 50px ; margin-bottom : 50px; ">
                    <div class="collapse multi-collapse" id="durationSelect{{obj.site_id.id}}" >
                        <div class="card card-body container" style="display:inline">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#rentalRule{{obj.id}}">{{obj.start}}:00-{{obj.end}}:00</button>
                        </div>
                        <!-- 註冊成功MODAL BEGIN -->
                            <div class="modal fade" id="rentalRule{{obj.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h2 class="modal-title" id="exampleModalLongTitle">請詳細閱讀租借規則!</h2>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    </div>
                                    <div class="modal-body">
                                        {{obj.site_id.rule}}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                                        <form  action="{% url 'member:logout' %}" method="POST">
                                            {% csrf_token %}
                                            <input class="btn btn-primary" type="submit" value="確定預約" />
                                        </form>
                                    </div>
                                </div>
                                </div>
                            </div>
                        <!-- 註冊成功MODAL END -->
                    </div>
                </div>
    
            
            {% endfor %}
          
        </div>


{% endblock  %}