{% extends 'base_site_equipment_management.html' %}

{% block title %}
修改場地
{% endblock %}

{% block content %}
    <section id="add">
        <div class='jumbotron'  style="background-color:#E9E9D8 ;">
            <div class="container" style="background-color:#f3f3eb ;">
                
                {% if messages %}
                <div class="row">
                <div class="">
                    {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}" role="alert">
                        <p>{{ message }}</p>
                    </div>
                    {% endfor %}
                    </div>

                </div>
                {% endif %}

                <div class="row">
                    <div class="col-md-12 text-center">

                        <h1>修改場地內容</h1>

                        <form action="{% url 'ES_management:edit_site' %}" method="POST" enctype="multipart/form-data">                                           
                            {% csrf_token %}
                            <div class="col-md-8 offset-md-2 text-start">
                                <div class="row">
                                    <label class="form-label">{{ form.name.label }}</label>
                                    {{ form.name }}
                                </div>
                                <div class="row">
                                    <label class="form-label">{{ form.usage.label }}</label>
                                    {{ form.usage }}
                                </div>
                                <div class="row">
                                    <label class="form-label">{{ form.address.label }}</label>
                                    {{ form.address }}
                                </div>
                                <div class="row">
                                    <label class="form-label">{{ form.location.label }}</label>
                                    {{ form.location }}
                                </div>
                                <div class="row">
                                    <label class="form-label">{{ form.price.label }}</label>
                                    {{ form.price }}
                                </div>
                                <div class="row">
                                    <label class="form-label">{{ form.image.label }}</label>
                                    {{ form.image }}
                                </div>
                                <div class="row">
                                    <label class="form-label">{{ form.rule.label }}</label>
                                    {{ form.rule }}
                                </div>
                                <input class="btn btn-success" type="submit" value="確認" />
                            </div>
                        </form>

                        <br>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock  %}